<div class="headerBlock">
  <div class="container center">
    <h3>esto es</h3>
    <h1>Puercomatic</h1>
    <p>mensajería para carros</p>

    <% if user_signed_in? %>

      <p>#</p>

    <% else %>

      <%= link_to "Regístrate aquí",  new_user_registration_path, class: "btn btn-primary btn-lg" %>


   <% end %>
  </div>
</div>
