<div class="headerBlock">
 <div class="container center">
  <h3>esto es</h3>
  <h1>Puercomatic</h1>
   <%= link_to "Log In",  "#", class: "btn btn-default btn-lg" %>
   <%= link_to "Sign Up",  "#", class: "btn btn-primary btn-lg" %>
   <p>Forgot your <a href="#">password</a>?</p>
 </div>
</div>

<div class="secondaryBlock"></div>
</div>
